<% provide(:tab_title, "Home") %> 

<div class="slogan centered">
	<h1> Peoples' reading lists </h1> <br>	
	<h4> Explore the reading list of our greatest. </h4>
</div> 

<div id= "legends"> 
	<%= render 'layouts/legends' %> <br> 
</div> 

<%= will_paginate @legends %> 

			