<div class="row">
	<div class="span10 offset1 centered">
		<div class= "slogan hero-unit"> 
			<h1> Awesome peoples' reading Lists </h1> <br>	
			<p> "I don't know anyone neither wise nor impressive, who doesn't read all the time" <br> Charles Munger </p> 
		</div> 
	</div> 
</div> 

<div class="row">
	<div class="span10 offset1 centered">

			<div class= "legends centered"> 
				<%= render 'layouts/legends' %> 	
			</div> 

			<div class= "frontpage_side_bar centered"> 
				<h1> Ideas </h1>
			</div> 

	</div> 
</div> 

