<div class="row">
	<div class="span10 offset1 centered">
		<div class= "slogan hero-unit"> 
			<h1> Awesome peoples' reading Lists </h1> <br>	
			<p> "I don't know anyone neither wise nor impressive, who doesn't read all the time" <br> Charles Munger </p> 
		</div> 
	</div> 
</div> 

<div class="row">
	<div class="span10 offset1 centered">

			<div class= "legends centered"> 
				<%= render 'layouts/legends' %> 	
			</div> 

			<div class= "frontpage_side_bar centered"> 
				<h6> Suggest an awesome person, whose reading list you'd like us to add: </h6>

				<form action="MAILTO:seikowsky@googlemail.com" method="post" enctype="text/plain">
					<input type="text" name="comment" value="your comment" size="50"><br><br>
					<input type="submit" value="Send" class="btn btn-medium btn-warning">
				</form>

			</div> 

	</div> 
</div> 

