<div class="row">
	<div class="span10 offset1 centered">
		<div class= "hero-unit"> 
			<h1 class="slogan"> Awesome peoples' reading Lists </h1> <br>	
			<p> "I don't know anyone neither wise nor impressive, who doesn't read all the time" <br> Charles Munger </p> 
		</div> 
		<%= render 'layouts/legends' %> 	
	</div> 
</div> 
