<% provide(:tab_title, "Home") %> 

<div class="slogan centered">
	<h1> Awesome peoples' reading Lists </h1> <br>	
	<p> We have collected the reading lists and recommendations of some awesome people for you. <br>  We hope you have fun exploring and find a good read. If you want us to add a particular person, <%= link_to "please tell us here :)", user_email_path %> </p> 
</div> 

<div id= "legends"> 
	<%= render 'layouts/legends' %> <br> 
</div> 

<%= will_paginate @legends %> 

			