@import url(http://fonts.googleapis.com/css?family=Oxygen);

$baseFontFamily: Oxygen;
$navbarHeight: 20px;
$bodyBackground: #5C5C5C;
$navbarBackground: black; 
$navbarBackgroundHighlight: black; 
$navbarLinkColor: white; 
$textColor: white; 
$inputBorderRadius: 3px; 
$navbarLinkColorHover: false; 
$heroUnitBackground: black; 

/* colors: 5C5C5C 085579  0B374B 3D515B */ 


@import "bootstrap";
@import "bootstrap-responsive";


body 
{
	margin-top: 50px;
	margin-bottom: 60px; 
}

.centered 
{
	text-align: center; 
}

.black_background
{
	background-color: black; 
}

.divider 
{
	border-bottom: 1px solid white; 
}


/* STATIC PAGES */ 

.slogan
{
	h1{
		font-size: 55px; 
	}
}

.slogan_background
{
 background-color: black; 
 width: 100%; 	
}

.legend_on_first_page
{
	width: 20%; 
	margin-right: 5%; 
	margin-left: 5%; 
	float: left; 
}

.box
{
	background-color: black;
	margin: 5px; 
	padding: 5px; 
	font-size: 10px; 
	line-height: 1,4em; 
	float: left; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	border-shadow: 1px 1px 10px #444;
	overflow: hidden;
	width: 214px; 
	height: 310px;
}

.box img
{
	display: block;
	max-width: 214px;
	max-height: 230px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	margin-bottom: 20px; 
}
/* before it was just width: 100%; - just in case */

.box p
{
	width: 80%; 
	margin-right: 10%; 
	margin-left: 10%; 
}

.book_picture
{
	width: 25%; 
	margin-left: 20%; 
	float: left; 
	min-height: 310px; 
	margin-bottom: 20x; 
}

.book_description
{
	width: 35%; 
	margin-right: 20%;
	float: left; 
	min-height: 310px; 
	margin-bottom: 20x; 
}

.legend_picture img
{
	webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	margin-top: 20px; 
	margin-bottom: 20px; 
}


.text_on_static_pages
{
	color: black; 
	background: white; 
	min-height: 550px; 
}

.header_text_on_static_pages
{
	margin-top: 30px; 
}

.inside_text_on_static_pages
{
	margin-left: 15%; 
	margin-right: 15%; 
	margin-top: 30px; 
}

